{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Taller{% block title %}Django{% endblock title %}</title>
        <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
        <link href="{% static 'admin/css/forms.css' %}" rel="stylesheet">
        <link href="{% static 'admin/css/responsive.css' %}" rel="stylesheet">
        {% block headScript %}{% endblock headScript %}
    </head>
    <body>
    	<div id="container">
    		<div id="header">
		   
	        </div>
	        {% block breadcrumbs %}
		    <div class="breadcrumbs">
		    <a href="{% url 'users:inicio' %}">Inicio</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    </div>
		    {% endblock %}
	        <div id="content">
	        	{% include 'base.mensajes.html' %}
		        {% block content %}{% endblock content %}
	        </div>
	     </div>
    </body>
    {% block extraJs %}{% endblock extraJs %}
</html>