<div class="content" id="menu-msn">
    {% block messages %}
        {% if form.errors %}
            <div>
                <button type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if form_profil.errors %}
            <div>
                <button type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
                <ul>
                    {% for field in form_profil %}
                        {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
</div>