{% extends 'base.html' %}
    {% block title %} Inicio {% endblock title %}
    {% block content %}
    <h1>Inicio del taller</h1>
    <ul>
        <li>
            <a href="{% url 'users:register'%}">Registrar Usuario</a>
        </li>
        <li>
            <a href="{% url 'users:list'%}">Listar Usuarios</a>
        </li>
    </ul>
    {% endblock content %}
