{% extends 'inicio.html' %}
    {% block title %}Eliminar Usuario {% endblock title%}
    {% block content %}
        <h1>Eliminar Usuario</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                Desea Eliminar el usuario: {{ user.username }}
                <button>Si</button>
            </form>
            <button onclick="location.href='{% url 'users:list' %}'">No</button>
        </div>
    {% endblock content %}
    