{% extends 'inicio.html' %}
{% block title %}Lista de Usuarios {% endblock title%}
    {% block content %}
        <h1>Lista de Usuarios Registrados</h1>
        <ul class="object-tools">
          <li>
            <a href="{% url 'users:registrar' %}" class="addlink">
              Añadir User Profile
            </a>
          </li>          
        </ul>
        <table>
            <thead>
                <tr>
                    <th>
                        Username    
                    </th>
                    <th>
                        Nombres y apellidos    
                    </th>
                    <th>
                        Email    
                    </th>
                    <th>
                        Identificador    
                    </th>
                    <th>
                        Fecha de registro    
                    </th>
                    <th>
                        Ultima Conexion    
                    </th>
                    <th>
                        Se encuentra activo ?    
                    </th>
                    <th>
                        Foto de Perfil    
                    </th>
                    <th>
                        Descripcion    
                    </th>
                    <th>
                        Acciones    
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{% url 'users:update' user.pk %}">{{ user.username }}</a></td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.userprofile.id_perfil }}</td>
                        <td>{{ user.date_joined }}</td>
                        {% if user.last_login %}
                            <td>{{ user.last_login }}</td>
                        {% else %}
                            <td>Nunca ha iniciado sesion</td>
                        {% endif %}
                        {% if user.is_active %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        <td><a href="{{ MEDIA_URL }}{{ user.userprofile.foto }}">{{user.userprofile.foto}}</a></td>
                        <td>{{ user.userprofile.descripcion }}</td>
                        <td><a href="{% url 'users:delete' user.pk %}">Eliminar</a></td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if users.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ users.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page 
                    {% if page_obj %}
                        {{ page_obj.number }} of {{ paginator.num_pages }}
                    {% else %}
                    {{ users.number }} of {{ users.paginator.num_pages }}.
                    {% endif %}
                </span>

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}">next</a>
                    <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% if is_paginated %}
          <div class="pagination">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
              <span>&laquo;</span>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
              <span>&raquo;</span>
            {% endif %}
          </div>
        {% endif %}
    {% endblock content %}
