{% extends 'inicio.html' %}
    {% block title %}Registrar Usuario {% endblock title%}
    {% block content %}
        <h1>Registrar Usuario</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{form_profil.as_p}}
                <button>Registrar</button>
            </form>
        </div>
    {% endblock content %}
    