{% extends 'inicio.html' %}
	{% block title %}Actualizar Usuario {% endblock title%}
    	{% block content %}
    		<h1>Actualizar Usuario</h1>
    		<div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{form_profil.as_p}}
                <button>Actualizar</button>
            </form>
        </div>
    	{% endblock content %}