{% extends 'inicio.html' %}
{% block title %} Eliminar Usuario {% endblock title %}
	{% block content %}
		<form method="post">
			{% csrf_token %}
    		<p>Estas seguro que quieres eliminar a "{{ object }}"?</p>
    	<input type="submit" value="Confirm">
</form>
	{% endblock content %}