{% extends 'inicio.html' %}
    {% block title %}Registrar Usuario {% endblock title%}
    {% block content %}
        <h1>Registrar Usuario</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required="true">
                <label>Nombre</label>
                <input type="text" name="first_name" placeholder="Nombres" required="true">
                <label>Apellido</label>
                <input type="text" name="last_name" placeholder="Apellidos" required="true">
                <label>Correo</label>
                <input type="text" name="email" placeholder="Correo Electronico" required="true"><br><br>
                <label>Contraseña</label>
                <input type="password" name="password1" placeholder="Contraseña" required="true">
                <label>Repite la Constraseña</label>
                <input type="password" name="password2" placeholder="Repite la contraseña" required="true"><br><br>
                <label>Numero de identificacion</label>
                <input type="text" name="id_perfil" placeholder="Identificador" required="true">
                <label>Foto de perfil</label>
                <input type="file" name="foto" accept="image/*">
                <label>Descripcion</label>
                <textarea name="descripcion"></textarea><br><br>
                <button>Registrar</button>
            </form>
        </div>
    {% endblock content %}
    